<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="justify-content: flex-start;">
    <a class="navbar-brand" href="/">GuiaPress</a>

    <ul class="navbar-nav mr-auto" style="display: -webkit-inline-box;">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories" style="margin-right: 10px;">Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/articles" style="margin-right: 10px;">Artigos</a>
        </li>
    </ul>
</nav>