<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
    <title>Document</title>
</head>
<body>
    <input type="text" id="palavra">
    <button onclick="enviar(this)">Enviar</button>
    <hr>
    <p id="resultado"></p>
</body>
    <script>
        let socket = io('http://localhost:9001')

        client.on("disconnect", () =>{
            console.log('Desconectou')
        })

        socket.on('resultado', (data) => {
            let text = document.getElementById('resultado')
            text.innerHTML = data
        })

        function enviar(e){
            let input = document.getElementById('palavra')
            socket.emit("palavra", input.value)
        }
    </script>
</html>